.navbar navbar-expand-lg bg-body-tertiary {
    margin: 5px;
    background-color: turquoise;
    padding: 10px;
   
}
#nav-head {
    margin: 5px;
    background-color: turquoise;
}
h1 {
    color: tomato;
}

